SECRET_KEY=secretkey
DEBUG=True

# Produccion BD url (consulta de p00):
API_TALENTO_URL=url_api

# LDAP auth
LDAP_SERVER_URI='ldap://url.com.ve:555'
LDAP_BIND_DN="bind_dn"
LDAP_BIND_PASSWORD="bind_dn_pss"
LDAP_BASE_DN=ou=DATA,dc=host,dc=com,dc=ve
LDAP_USER_FILTER=(sAMAccountName=%(user)s)

# Email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587 
EMAIL_USE_TLS=True
EMAIL_HOST_USER=correogmail@gmail.com
EMAIL_HOST_PASSWORD=password

## BD settings
DB_NAME=reservas
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432